@import url("https://fonts.googleapis.com/css?family=Roboto");
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: white;
    height: 100vh;
    margin-left: 10%;
}

header {
    z-index: 20;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0em;
    width: 100%;
  }
